<nav>
    <ul class="menu">
        <li><a>Listar</a>
            <ul>
                <li><a routerLink="/list_game">Games</a></li>
                <li><a href="#">Desenvolvedora</a></li>
                <li><a href="#">Gêneros</a></li>
            </ul>
        </li>
        <li><a>Adicionar</a>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Desenvolvedora</a></li>
                <li><a href="#">Gêneros</a></li>
            </ul>
        </li>
        <li><a>Alterar</a>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Desenvolvedora</a></li>
                <li><a href="#">Gêneros</a></li>
            </ul>
        </li>
        <li><a>Apagar</a>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Desenvolvedora</a></li>
                <li><a href="#">Gêneros</a></li>
            </ul>
        </li>
    </ul>
    </nav>
<div>
    <router-outlet></router-outlet>
</div>
