<nav>
    <ul class="menu">
        <li><a>Listar</a>
            <ul>
                <li><a routerLink="/game">Games</a></li>
                <li><a routerLink="/developer">Desenvolvedora</a></li>
                <li><a routerLink="/gender">Gêneros</a></li>
            </ul>
        </li>
        <li><a>Adicionar</a>
            <ul>
                <li><a routerLink="/game/create-game">Games</a></li>
                <li><a routerLink="/developer/create-developer">Desenvolvedora</a></li>
                <li><a routerLink="/gender/create-gender">Gêneros</a></li>
            </ul>
        </li>
        <li><a>Apagar</a>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Desenvolvedora</a></li>
                <li><a href="#">Gêneros</a></li>
            </ul>
        </li>
    </ul>
    </nav>

    <router-outlet></router-outlet>

