.list-developer {
    display: flex;
    flex-direction: column;
    }
    
    .list-developer > div {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    width: 20%;
    max-width: 400px;
    }
    
    .list-developer > div p {
    margin: 0;
    }
    
    .list-developer > div p:first-child {
    font-weight: bold;
    }